<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">conduit</a>
    <ul class="nav-list">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"
          >Sign in</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active"
          >Sign up</a
        >
      </li>
    </ul>
  </div>
</nav>
